
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    }
    body{
    background: rgb(0, 0, 0);
    }
    section{
     position: relative;
     padding: 100px;
    }
    .header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
     
    }
    
    .banner{
    position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner .content{
        position: relative;
        max-width: 900px;
        text-align: center;
        z-index: 1;
    }
    .banner .content h2
    {
    color: #fff;
    font-size: 4em;
    }
    
    .banner .content p
    {
    color: #fff;
    font-size: 1.2em;
    }
    .btn{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    color: #111;
    text-decoration: none ;
    }
    .btn:hover{
        position: relative;
        display: inline-block;
        margin-top: 30px;
        padding: 10px 30px;
        background: #111;
        color: rgb(255, 255, 255);
        text-decoration: none ;
        }
    .fitbg{
        position: absolute;
        top: 0;
        width: 70%;
        height: 90px;
        opacity: 1;
    }
    .Titbg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        opacity: 1;
        
    }
    .about 
    {
        position: relative;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
    }
    .about .contentbx
    {
        min-width: 50%;
        width: 50%;
        text-align: end;
        padding-right: 40px;
    
    }
    .titletext
    {
    font-weight: 600;
    color: rgb(255, 0, 0);
    font-size: 2em;
    margin-bottom: 10px;
    
    }
     .text{
         color: rgb(255, 255, 255);
         font-size: 2em;
     }
     .about .imgbx
     {
         position: relative;
         min-width: 50%;
         width: 50%;
         min-height: 500px;
    
     }
     .newsbg
     {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;   
     }
     .banner2,
     .banner3
     {
         position: relative;
         width: 100%;
         min-height: 100vh;
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .banner2:before,
     .banner3:before
     {
        content:'';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 400px;
        z-index: 1;
        background: linear-gradient(to top,rgb(0, 0, 0),transparent);
     }
     .banner2:after,
     .banner3:after
     {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        z-index: 1;
        background: linear-gradient(to bottom,rgb(0, 0, 0),transparent);
     }
    .destination
    {
        text-align: center;
         
    }
    .destination .content
    {
    text-align: center;
    }
    .destination .destinationlist
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .destination .destinationlist .box
    {
       position: relative;
       min-width: 350px; 
       height: 480px;
       background: #111;
       transition: 0.5s;
       margin: 10px;
    }
    .destination .destinationlist:hover .box
    {
        opacity: 0.2;
    }
    .destination .destinationlist .box:hover
    {
        opacity: 1;
    }
    .destination .destinationlist .box .imgbx
    {
       position: relative;
       width: 100%;
       height: 400px; 
    }
    .destination .destinationlist .box .content
    {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .destination .destinationlist .box .content h2
    {
        color: #fff;
        font-weight: 500;
        line-height: 1.2em;
    
    }
    .destination .destinationlist .box .content h2 span
    {
       font-size: 0.8em;
        font-weight: 300;
        opacity: .5;
    }
    .footer
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer .sci
    {
       position: relative;
       display: flex;  
    }
    .footer .sci li
    {
      list-style: none;  
    }
    .footer .sci li a
    {
     text-decoration: none;
      margin: 0 20px;  
    }
    .footer .sci li a img
    {
       
      max-width: 40px;
    }
    .texteski
    {
      margin-top: 20px;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      color: #666;  
      text-align: center;
    }
    .texteski a
    {
      color: #fff;  
      text-decoration: none;
    }
 
    .titre{
        text-align: center;
        color: rgb(255, 255, 255);
    }
    
.mtext{

    color: rgb(255, 0, 0);
    text-decoration: none;

}
.mtext:hover{
    color: rgb(38, 0, 255);
    text-decoration: none;
}
.menuhef{
    float: right;
    width: 11%;
    height: 25px;
    background-color: rgb(0, 0, 0);
}
.ox{
    width: 100%;
    color: rgb(255, 255, 255);
    
}
.imgphoto{
 width: 100%;
}
menu_1 {
    list-style:none;
    direction:rtl;
    font:11px tahoma;
    padding:0;
    margin:10px;
    height:40px;
    border:1px #666 solid;
    background: #7d7e7d;
    background:
url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -webkit-gradient(linear, left top, left bottom,
color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
    background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
    background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
    color:#FFF;
    border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -khtml-border-radius:5px;
}
.menu_1 li{
    float:right;
    border-left:1px #666 solid;
}
.menu_1 li:hover{
    background: #6b6b6b;
    background:
url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzZiNmI2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

    background: -moz-linear-gradient(top, #6b6b6b 1%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom,
color-stop(1%,#6b6b6b), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top, #6b6b6b 1%,#000000 100%);
    background: -o-linear-gradient(top, #6b6b6b 1%,#000000 100%);
    background: -ms-linear-gradient(top, #6b6b6b 1%,#000000 100%);
    background: linear-gradient(to bottom, #6b6b6b 1%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(
startColorstr='#6b6b6b', endColorstr='#000000',GradientType=0 );
}
.menu_1 a{
    font:11px Tahoma;
    direction:rtl;
    color:#FFF;
    display:block;
    text-decoration:none;
    padding:12px;
    font-size: 1.2em;
}
.menu_1 a:hover{
    color:rgb(255, 0, 0);
}
    @media (max-width: 767px)
    {
        section
         {
            padding: 40px;
        }
        .banner .content h2 {
            font-size: 2.5em;
            stroke: violet 3;
        }
        .banner .content p {
            font-size: 1em;
        }
        .about {
            flex-direction: column;
        }
        .about .contentbx,
        .about .imgbx
         {
            min-width: 100%;
            width: 100%;
            text-align: center;
            padding-right: 0px;
        }
        .about .imgbx
        {
            min-height: 300px;
        }
        .btn
        {
            margin-bottom: 30px;
        }
        .destination .destinationlist .box
    {
       position: relative;
       max-width: 350px;
       min-width: initial; 
       width: 350px;
       height: 400px;
    }
    .destination .destinationlist .box .imgbx
    {
        height: 320px;
    }
    .footer .sci li a img {
        max-width: 30px;
    }
        
.menuhef{
    float: right;
     width: 50%;
     height: 25px;
     background-color: rgb(0, 0, 0);
 }
 .mtext{
 
     color: rgb(255, 0, 0);
     text-decoration: none;
 
 }
 .Titbg{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 80%;
     opacity: 1;
     
 }
 .text{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}
.menu_1 a{
    font:11px Tahoma;
    direction:rtl;
    color:#FFF;
    display:block;
    text-decoration:none;
    padding:12px;
    font-size: .8em;
}
    }
